@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto';font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
    
}
    

.header {
    display: flex;
    
    background-color: #1f2937;
    a { display: flex;
        
        flex: 1;
        text-decoration: none;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
        color: #e5e7eb;
        
        

    }
    img { background-color: orangered; border-radius: 100%;
        margin: 25px;
        padding: 5px;

    }

}



.footer {
    
    
    display: flex;
    background-color: #1f2937;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    
    font-size: 18px;
    img {
        width: 25px; background-color: orangered; border-radius: 100%;
        vertical-align: middle;
        
        padding: 5px;
        display: inline-block;
        
        
    }
    
    
    
    
    
   
 
    
    

}