@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto';font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
    
}
    

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 0 150px;
}

img.gradient-shift {
    background-position: 300px;
}

.header img {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    border-radius: 100%;
    padding: 5px;
    height: 48px;
    width: 48px;
    background-size: 400% 100%;
    transition: background-position ease 1s;
    background-position: 0 0;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    width: auto;
    flex-shrink: 0;
    margin-right: 50px;
    margin-left: 20px;
}

.header .links {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    
}

.header a {
    flex: 1;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}

.links a {
    flex-grow: 1;
    margin: 0 10px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 150px;
   
}

.hero img{    
    width: 700px;
    aspect-ratio: auto 700 / 300;
    border-radius: 14px;
    
}

.left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 16px;
    padding-inline: 256px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;    
    gap: 16px;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 16px;
    padding-inline: 48px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.05);
}


.imgflex
{display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 300px;

}

.second-panel
{ display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 64px;}
.boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 16px;
    align-items: center;
}

.boxes img
{border-radius: 32px;
    height: 250px;
    width: 250px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 32px;
    border-width: 8px;

}


    


.boxes-text {
    max-width: 250px;
    color: #1F2937;
    text-align: center;
    font-size: 18px;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}


.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    color: #1F2937;
display: flex;
    flex-direction: column;
    
    padding: 128px 300px;
    padding-inline: 256px;
}
.quotetext {
    font-size: 36px;
    
    text-align: justify;
    

}
.author {
    font-size: 30px;
    font-weight: 900;
    text-align: right;
}


.call > .first-panel {
    height: 200px;
    width: 1400px;

    background-color: #3882F6;
    border-radius: 16px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.hook-text {
    display: flex;
    flex-direction: column;

}

.hook-header {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 900;

}

.hook-message {
    color: #F9FAF8;
    font-size: 18px;
}

.button2 {
    border-style: solid;
}

.call {
    padding: 128px 300px;
}



.footer {
    
    
    display: flex;
    background-color: #1f2937;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    
    font-size: 18px;
    img {
        background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
        border-radius: 100%;
        padding: 5px;
        height: 25px;
        width: 25px;
        background-size: 400% 100%;
        transition: background-position ease 1s;
        background-position: 0 0;
        vertical-align: middle;
        
    }
    
    
    
    
    
   
 
    
    

}